body {
    background-color: #FFCC00;
    padding: 20px;
    margin: 0;
  }
  h1, p, ul, li
   {
    font-family: Arial, Helvetica, sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  
  .content li {
    margin-bottom: 10px;
  }

  


  